<Project>
  <PropertyGroup>
    <PublishDir>bin\x64\Release\AppPackages\</PublishDir>
    <GenerateAppxPackageOnBuild>true</GenerateAppxPackageOnBuild>
    <AppxBundle>Never</AppxBundle>
    <AppxPackageSigningEnabled>false</AppxPackageSigningEnabled>
    <AppxPackageDir>bin\x64\Release\AppPackages\</AppxPackageDir>
  </PropertyGroup>
</Project>
