<Project>
  <PropertyGroup>
    <Platform>x64</Platform>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <WindowsPackageType>MSIX</WindowsPackageType>
    <PublishDir>bin\x64\Release\AppPackages\</PublishDir>
    <GenerateAppxPackageOnBuild>true</GenerateAppxPackageOnBuild>
    <AppxBundle>Never</AppxBundle>
    <AppxPackageSigningEnabled>false</AppxPackageSigningEnabled>
    <AppxPackageDir>bin\x64\Release\AppPackages\</AppxPackageDir>
  </PropertyGroup>
</Project>
